header {
    margin: 2rem 2rem;

    nav {
        border-bottom: solid black 1px;
        padding-bottom: 1rem;
    }

    a {
        padding: 0 1rem;
        border-right: solid black 1px;
        text-decoration: inherit;
        color: inherit;
    }

    .header-image {
        margin-top: 1rem;
        height: 13rem;
        width: 100%;
        background-image: url(../../assets/images/header-photo.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-title {
        background-color: rgb(237, 227, 227);
        color: green;
        padding: 1.5rem;
        font-size: 5rem;
        border-radius: 50%;
    }
}