<div class="content">
    <section>
        <h3>Select An Available Time</h3>
        <table>
            <th>Date</th>
            <th>Time</th>
            <th>Max Party Size</th>
            <tr *ngFor="let item of availableTimes" class="reservation-item" (mouseover)="highlightRow(item)" [ngClass] = "{'highlight' : item.id == hoveredItem}" (click)="clickRow(item)">
                <td>{{ item.time | date: 'EEEE, MMMM d'}}</td>
                <td>{{ item.time | date: 'h:mm a'}}</td>
                <td>{{ item.number }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Enter Reservation Details</h3><br>
        <span *ngIf="!selectedReservation.time; else reservationSelected">Select a time from the left to make your reservation.</span><br>
        <ng-template #reservationSelected>
            <span>Selected time: {{selectedReservation.time | date: 'h:mm a on EEEE, MMMM d' }}</span><br><br>
            <form class="test-form" #f="ngForm" (ngSubmit)="onFormSubmit(f)">
                <label for="personName">Name for reservation: </label>
                <input type="text" name="personName" placeholder="Name" [(ngModel)]="personName" required/><br><br>
                <label for="party">Number of people: </label>
                <select id="party" name="partyNumber" [(ngModel)]="partyNumber" required>
                    <option *ngFor="let num of partyArray" [value]="num">{{ num }}</option>
                </select><br><br>
                <input type="submit" value="Submit Form" />
            </form>
        </ng-template>
    </section>
    <section>
        <h3>Confirmed Reservations</h3>
        <table>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Party Size</th>
            <tr *ngFor="let item of reservedTimes" class="reservation-item">
                <td>{{ item.name }}</td>
                <td>{{ item.time | date: 'EEEE, MMMM d'}}</td>
                <td>{{ item.time | date: 'h:mm a'}}</td>
                <td>{{ item.number }}</td>
            </tr>
        </table>
        <br>
        <span>To modify or change your reservation, please call us at 651-111-1111</span>
    </section>
</div>