<div class="content">
    <section>
        Select An Available Time
        <table>
            <th>Date</th>
            <th>Time</th>
            <th>Max Party Size</th>
            <tr *ngFor="let item of availableTimes" class="reservation-item" (mouseover)="highlightRow(item)" [ngClass] = "{'highlight' : item.id == hoveredItem}" (click)="clickRow(item)">
                <td>{{ item.time | date: 'EEEE, MMMM d'}}</td>
                <td>{{ item.time | date: 'h:mm a'}}</td>
                <td>{{ item.number }}</td>
            </tr>
        </table>
    </section>
    <section>
        Enter Reservation Details<br><br>
        <span *ngIf="!selectedReservation.time; else reservationSelected">Select a time from the left to make your reservation.</span><br>
        <ng-template #reservationSelected>
            <span>Selected time: {{selectedReservation.time | date: 'h:mm a on EEEE, MMMM d' }}</span><br><br>
            <form class="test-form" #f="ngForm" (ngSubmit)="onFormSubmit(f)">
                <label for="personName">Name for reservation: </label>
                <input type="text" name="personName" placeholder="Name" [(ngModel)]="personName"/><br>
                <label for="party">Number of people: </label>
                <select id="party" name="partyNumber" [(ngModel)]="partyNumber">
                    <option *ngFor="let num of partyArray" [value]="num">{{ num }}</option>
                </select><br>
                <input type="submit" value="Submit Form" />
            </form>
        </ng-template>
    </section>
    <section>
        Confirmed Reservations
        <table>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Party Size</th>
            <tr *ngFor="let item of reservedTimes" class="reservation-item">
                <td>{{ item.name }}</td>
                <td>{{ item.time | date: 'EEEE, MMMM d'}}</td>
                <td>{{ item.time | date: 'h:mm a'}}</td>
                <td>{{ item.number }}</td>
            </tr>
        </table>
    </section>
</div>