<div class="content">
    <section id="about-us" routerLink="/about-us"></section>
    <section id="menu" routerLink="/menu"></section>
    <section id='reservation' routerLink="/reservation"></section>
</div>

<div class="content">
    <span routerLink="/about-us">
        About Us and Contact Us
    </span>
    <span routerLink="/menu">
        View Our Menu
    </span>
    <span routerLink="/reservation">
        Make a Reservation
    </span>
</div>

<footer>
    Jeff from Woodbury: "The food and service were amazing, and the website made making a reservation a breeze!"
</footer>