<div class="content">
    <section id="about-us">
        <a routerLink="/about-us" href=""></a>
    </section>
    <section id="menu">
        <a routerLink="/menu" href=""></a>
    </section>
    <section id='reservation'>
        <a routerLink="/reservation" href=""></a>
    </section>
</div>

<div class="content">
    <span routerLink="/about-us">
        About Us and Contact Us
    </span>
    <span routerLink="/menu">
        View Our Menu
    </span>
    <span routerLink="/reservation">
        Make a Reservation
    </span>
</div>

<footer>
    Jeff from Woodbury: "The food and service were amazing, and the website made making a reservation a breeze!"
</footer>