<div class="content">
    <section>
        <a routerLink="/about-us" href=""><img src="./assets/images/contactuslink.jpg" width="599" height="400"></a>
    </section>
    <section>
        <a routerLink="/menu" href=""><img src="./assets/images/menulink.jpg" width="600" height="400"></a>
    </section>
    <section>
        <a routerLink="/reservation" href=""><img src="./assets/images/reservationlink.jpg" width="599" height="400"></a>
    </section>
</div>

<div class="content">
    <span routerLink="/about-us">
        About Us and Contact Us
    </span>
    <span routerLink="/menu">
        View Our Menu
    </span>
    <span routerLink="/reservation">
        Make a Reservation
    </span>
</div>

<footer>
    Jeff from Woodbury: "The food and service were amazing, and the website made making a reservation a breeze!"
</footer>